<div class="container">
<h1>本の登録
</h1>
  <%= form_for [@book], html:{class: 'form'} do |f| %>
    <p>タイトル：<%= f.text_field :title, html:{class: 'form-control'} %></p>
    <p>作者：<%= f.text_field :writer, html:{class: 'form-control'} %></p>
    <p><%= button_tag "送信", type: "submit", class: "btn btn-primary"%></p>

  <% end %>
</div>
