<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10" style="padding-top: 20px;">
<div class="alert alert-success " role="alert" ><%= @book.title %>の記録ができました！！</div>
<h3><%= link_to "一覧に戻る",books_path,method: :get%></h3></div>
<div class="col-md-1">
</div>
